<div class="m-1">
<h3>Contact</h3>
  <div >
    <div class="row">
      <div class="col-md ">
        <address class="">
          <strong>SmartIT:</strong>
          Chandler, AZ 85225
          <abbr title="Phone" class="font-weight-bold">P:</abbr> 480.389.4163
        </address>
      </div>
    </div>

    <address>
      <strong>Support:</strong>
      <a href="mailto:SmartIT.Consultation@gmail.com">
        SmartIT.Consultation@gmail.com"</a
      >
      <strong> Marketing:</strong>
      <a href="mailto:SmartIT.Sales@gmail.com">SmartIT.Sales@gmail.com</a>
    </address>
  </div>
</div>
